.buy-button {
    cursor: pointer;
    width: 100%;
    background: #3F91C7;
    color: white;
    padding: 1rem 0;
    font-size: inherit;
    border-radius: 5px;
    border-style: none;
    transition: 0.5s;

    &:hover {
        background: rgba(#3F91C7, 0.6);
    }
}