@import "../../styles/variables.scss";

.cart {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    //background-color: black;
}

.product__container {
    width: 75%;
    margin: 0 1rem;

    border-radius: 10px;
    background-color: $light;

    &__content {
        display: flex;
        padding: 1.5rem;

        &__poster{
            min-height: 600px;
        }
        
        &__details {
            margin: 0 1rem;

            #movie-title{
                font-weight: bold;
            }
        }
    }
}

.subtotal__container {
    vertical-align: top;
    margin-right: 1rem;
    width: 25%;
    height: 100%;

    border-radius: 10px;
    background-color: $light;

    &__content {
        font-size: large;
        padding: 1rem 1rem;
        text-align: center;

        &__total {
            font-weight: 700;
            margin-bottom: 3rem;

            #total-label {
                float: left;
            }
            #total-price {
                float: right;
            }
        }
    }
}