@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$poppins: "Poppins", sans-serif;

// colors
$dark: rgb(29,29,29);
$light: rgb(244,244,255); 
$primary: rgb(37, 37, 39);
$secondary: rgb(143, 143, 214);

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$border-radius: 12px;

// header height
$header-height: 100px;
$footer-height: 200px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em){
            @content;
        }
    }
}