@import '../../styles/variables.scss';

.search {
    display: flex;
    justify-content: center;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50%;
    margin: 4rem 0 2rem;
    padding: 1.5rem 1.75rem;
    
    border-radius: 3rem;

    background: $dark;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;

    input {
        max-width: 100%;
        flex: 1;
        padding-right: 1rem;
        font-size: 1.25rem;
        color: rgba(255,255,255,0.473);

        border: none;
        outline: none;
        background: $dark;
    }

    img {
        width: 2rem;
        cursor: pointer;
    }

    @media (max-width: 1024px) {
        width: 70%;
    }
    @media (max-width: 640px) {
        width: 85%;
    }
}