@import './../../styles/variables';

.footer {
    position: absolute;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    background: $dark;

    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        color: $light;
        margin: 0 auto;
        max-width: 1920px;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        h2 {
            margin-top: $spacing-lg;
            text-align: center;
            font-weight: 400;
        }

        ul {
            list-style: none;
            display: flex;
            margin-bottom: 1rem;
            margin: 0;
            padding: 0;

            li {
                margin: 0 1.5rem;
            }
            
            a {
                text-decoration: none;
                color: $light;
            }
        }
    }
}

.mail-img {
    max-height: 48px;
    max-width: 48px;
}

.github-img {
    max-height: 48px;
    max-width: 48px;
}